:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

#app {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

canvas {
    image-rendering: pixelated; /* Ensure crisp scaling if browser tries to smooth */
}